html,
body {
    margin: 0;
    padding: 0;
    background: #bde0fe;
    font-family: 'Alata', sans-serif;
}


/* text styling */
.title {
    text-align: center;
    color: #cdb4db;

}


.pronoun {
    font-size: 20px;
    text-align: center;
    color: #fff;

}

.aboutMeText {
    font-size: 25px;
}

.list {
    font-size: 20px;

}

a {
    color: #FF3B9D;
}

a:hover {
    color: #9392FF;
}

/* div and containers */
.divOne {
    margin: 0px 20px 0 20px;
    padding: 10px;
    border: 1px solid black;
    line-height: 10px;
    background-color: #ffc8dd;

}

.divTwo {
    margin: 0 20px 20px 20px;
    padding: 10px;
    border: 1px solid black;
    border-top: 0px;
    text-align: center;
    background-color: #fff;
    line-height: 5px;

}

.subBox {
    margin: 10px 150px;
    padding: 15px;
    border: 3px solid #ffc8dd;
    border-radius: 20px;
    font-family: 'Zen Kurenaido', sans-serif;

}

.topbox {
    text-align: center;
    color: #fff;
    height: 5%;
    width: auto;
    padding: 0;
    margin: 0;
    background-color: #bdb2ff;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    margin: 20px 20px 0px 20px;
}


/* image and pic styling */
.pic {
    width: 300px;
}

.pic2 {
    width: 10px;
}

.pic3,
.pic4,
.pic5, 
.pic6 {
    width: 200px;
}


/* lists styling */
ul {
    display: inline-block;
    line-height: 15px;
    text-align: left;
}

/* media queries and breakpoints  */

iFrame {
    max-width: 90%;
    margin: 0 auto 0 15px;
    padding: 0;
}

/* @media screen and (max-width: 500){
  .subBox {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 500) {
  .subBox iframe {
    width: 40%;
  }
}

  */